.btn-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #f5f8fb;
  transition: border 0.3s ease;
  width: fit-content;
}
/* .btn-group:hover {
  border: 1px solid red;
} */
.btn-group button {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-group p {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #f5f8fb;
  border-right: 1px solid #f5f8fb;
}
