.SignUp {
  overflow: hidden;
  background-color: white;
}
.SignUp .container {
  margin-top: 24px;
  height: 100%;
  display: flex;
}

.SignUp .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUp img {
  height: 80vh;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
}

.SignUp .Sign {
  flex: 1;
  margin-left: 20px;
  border-radius: 7px;
  padding: 20px;
  max-width: 600px;
  width: 80%;
  height: 100%;
}

.SignUp .Sign .text {
  margin-top: 5px;
  margin: 0px 7px;
}

.SignUp .Sign .text p {
  margin: 10px 0;
  color: var(--secondary-text);
}
.SignUp .Part-1 {
  display: flex;
  width: 100%;
}
.SignUp .Part-2 {
  width: calc(100% - 14px);
}
.SignUp .Sign .input-field {
  width: 100%;
  margin: 5px 7px;
}

.SignUp .Sign input:not([type="checkbox"]) {
  border: 1px solid black;
  border-radius: var(--button-radius2);
  height: 40px;
  font-size: 20px;
  background: none;
  width: 100%;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.SignUp .check {
  margin: 9px;
}
.SignUp .check input[type="checkbox"] {
  margin-right: 10px;
  font-size: 12px;
}
.SignUp .check p {
  color: var(--main-text);
  font-weight: 600;
  margin: 30px 0;
}
.SignUp .btn {
  color: #ff8682;
}

.SignUp .SignUp-button button {
  font-size: 20px;
  background-color: var(--main-color);
  border: none;
  border-radius: var(--button-radius2);
  width: calc(100% - 5px);
  cursor: pointer;
  padding: 6px 8px;
  font-weight: 600;
  margin-bottom: 10px;
}
.SignUp .Login-forward {
  text-align: center;
  margin: 0 0 20px;
}
